name: Deploy to staging
on:
  push:
    branches: [ main ]

jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    name: Deploying everything to the staging cluster
    steps:
      - run: |
          echo ${{ secrets.SSH_PRIVATE_KEY }} &> ~/ssh_key
          ssh -i ~/ssh_key root@64.227.147.124
          cd week-25-ci-next-app/ && git pull
          pnpm install
          pnpm run build
          pm2 restart fe-sever
          pm2 restart http-sever
          pm2 restart ws-sever

